// Images
$summary-arrow: 'images/icon-arrow-down.svg';
$woman-mobile: 'images/illustration-woman-online-mobile.svg';
$woman-desktop: 'images/illustration-woman-online-desktop.svg';
$bg-pattern-mobile: 'images/bg-pattern-mobile.svg';
$bg-pattern-desktop: 'images/bg-pattern-desktop.svg';

img {
  max-width: 100%;
}