.container {
  position: relative;
  margin: 14em auto;
  padding: 1.65rem;
  padding-top: 80px;
  background-color: white;
  border-radius: 20px;
  max-width: 327px;
  box-shadow: 0px 22px 30px 10px rgba(0, 0, 0, 0.15);

  @include for-tablet-portrait-up {


    & {
      margin-top: 7rem;
      padding-top: 1.35rem;
      max-width: 920px;
      min-height: 508px;
      background-image: url($bg-pattern-desktop);
      background-repeat: no-repeat;
      background-position-x: -635px;
      background-position-y: -320px;
    }
  }
}